body {
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 36em;
}

fieldset {
    margin: 0;
}

.logout {
    text-align: right;
}

.button {
    padding: 0.5em;
    font-variant: small-caps;
    font-weight: bold;
}

.search__input {
    flex-grow: 1;
    margin-left: 1em;
    border: 1px solid black;
    border-radius: 1em;
    padding: 0.5em 1em 0.5em 1em;
}

.search__label {
    display: flex;
    align-items: center;
    width: 100%;
}

.form__label {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.form__input {
    margin-top: 0.5em;
    display: block;
}
.form__textarea {
    margin-top: 0.5em;
    width: 100%;
    height: 8em;
    display: block;
}

.list {
    list-style: none;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.list__entry {
    padding: 0.7em 0.5em 0.7em 0.5em;
}

.list__indicator {
    visibility: hidden;
}

.list__indicator--visible {
    visibility: visible;
}
