<script type="text/x-template" id="add-entry-tpl">
    <form>
        <fieldset>
            <legend>Add entry</legend>

            <label class="form__label">Title
                <input class="form__input" type="text" name="title" v-model="create.title" />
            </label>

            <label class="form__label">Url
                <input class="form__input" type="text" name="url" v-model="create.url" />
            </label>

            <label class="form__label">Username
                <input class="form__input" type="text" name="username" v-model="create.username" />
            </label>

            <label class="form__label">Password
                <input class="form__input" type="password" name="password" v-model="create.password" />
            </label>

            <label class="form__label">Repeat password
                <input class="form__input" type="password" name="password_repeat" v-model="create.passwordRepeat" />
            </label>

            <label class="form__label">Notes
                <textarea class="form__textarea" name="notes" v-model="create.notes"></textarea>
            </label>

            <button class="button" type="button" v-on:click.prevent="createEntry()">create</button>
            <button class="button" type="button" v-on:click.prevent="backToList()">cancel</button>
        </fieldset>
    </form>
</script>


<script>
    Vue.component('add-entry', {
        template: '#add-entry-tpl',
        mounted: function() {
            // …
        },
        data: function() {
            return {
                create: {
                    title: 'Some Example Title',
                    url: 'http://www.example.com',
                    username: 'ExampleUser',
                    password: 'ExamplePass',
                    passwordRepeat: 'ExamplePassRepeat',
                    notes: 'Hi, this is an example note'
                }
            };
        },
        methods: {
            createEntry: function() {
                this.$emit('create-entry', this.create);
            },
            backToList: function() {
                this.$emit('back-to-list');
            }
        }
    });
</script>
