<login v-if="page === 'login'"
    v-bind:login-message="loginMessage"
    v-bind:api="api"
    v-on:register="register"
    v-on:logged-in="getCreds"></login>

<unlock v-if="page === 'unlock'"
    v-bind:message="unlockMessage"
    v-on:unlock="unlock"
    v-on:forgot-pin="forgetUnlock"></unlock>

<register v-if="page === 'register'"
    v-bind:api="api"
    v-on:registered="registered"
    v-on:cancel="registerCanceled"></register>

<creds v-if="page === 'creds'"
    v-on:lock="lock"
    v-on:reload-creds="getCreds"
    v-bind:api="api"
    v-bind:encryptor="encryptor"
    v-bind:encrypted-creds="credsEnc"></creds>

<loading v-if="page === 'loading'"></loading>

<div v-if="page === 'creds'" class="logout">
    <button class="button" v-on:click="logout">logout</button>
</div>
