<script type="text/x-template" id="add-entry-tpl">
    <form
        autocomplete="off"
        v-on:change="validate">

        <fieldset>
            <legend>Add entry</legend>

            <label class="form__label">Title <span>{{ error.title }}</span>
                <input
                    class="form__input"
                    type="text"
                    name="title"
                    autofocus="autofocus"
                    v-model="create.title"
                />
            </label>

            <label class="form__label">Url</span>
                <input
                    class="form__input"
                    type="url"
                    name="url"
                    v-model="create.url"
                />
            </label>

            <label class="form__label">Username
                <input
                    class="form__input"
                    type="text"
                    name="username"
                    v-model="create.username"
                />
            </label>

            <label class="form__label">Password <span>{{ error.password }}</span>
                <a
                    class="button__generate"
                    v-on:click="generatePassword">Generate</a>
                <input
                    class="form__input"
                    type="password"
                    name="password"
                    v-model="create.password"
                />
            </label>

            <label class="form__label">Repeat password
                <input
                    class="form__input"
                    type="password"
                    name="password_repeat"
                    v-model="create.passwordRepeat"
                />
            </label>

            <label class="form__label">Notes
                <textarea
                    class="form__textarea"
                    name="notes"
                    v-model="create.notes"></textarea>
            </label>

            <button class="button" type="button" v-on:click="createEntry">create</button>
            <button class="button" type="button" v-on:click="backToList">cancel</button>
        </fieldset>
    </form>
</script>


<script>
    Vue.component('add-entry', {
        template: '#add-entry-tpl',
        mounted: function() {
        },
        data: function() {
            return {
                create: {
                    title: 'Some Example Title',
                    url: 'http://www.example.com',
                    username: 'ExampleUser',
                    password: 'ExamplePass',
                    passwordRepeat: 'ExamplePassRepeat',
                    notes: 'Hi, this is an example note'
                },
                error: {
                    // …
                }
            };
        },
        methods: {
            createEntry: function(event) {
                this.$emit('create-entry', this.create);
            },
            validate: function(event) {
                this.error = {};

                if (this.create.title == '') {
                    this.error.title = 'is required.';
                }

                if (this.create.password == '') {
                    this.error.password = 'is required.';
                }

                if (this.create.password != this.create.passwordRepeat) {
                    this.error.password = 'does not match.';
                }
            },
            backToList: function() {
                this.$emit('back-to-list');
            },
            generatePassword: function(event) {
                this.create.password = My.Random().password(32);
                this.create.passwordRepeat = this.create.password;
            }
        }
    });
</script>
