<script type="text/x-template" id="creds-add-update-entry-tpl">
    <form
        autocomplete="off"
        v-on:change="validate"
        v-on:submit.prevent="nothing">

        <fieldset>
            <legend v-if="cred.id">Update Cred</legend>
            <legend v-if="!cred.id">Create new Cred</legend>

            <button
                type="button"
                class="button menu__back"
                v-on:click="backToList">◀︎ back</button>

            <label class="form__label">Title
                <span class="form__error">{{ error.title }}</span>

                <input
                    class="form__input"
                    type="text"
                    name="title"
                    autofocus="autofocus"
                    v-model="cred.title"
                />
            </label>

            <label class="form__label">Url</span>
                <input
                    class="form__input"
                    type="url"
                    name="url"
                    v-model="cred.url"
                />
            </label>

            <label class="form__label">Username
                <input
                    class="form__input"
                    type="text"
                    name="username"
                    v-model="cred.username"
                />
            </label>

            <label class="form__label">Password
                <span class="form__error">{{ error.password }}</span>

                <span
                    class="button__generate"
                    v-on:click="generatePassword">► generate</span>

                <selfhide-password
                    class="form__input"
                    v-bind:show-password="showPassword"
                    v-model="cred.password"></selfhide-password>

                <creds-gen-password
                    v-if="showGeneratePassword"
                    v-on:password-generated="passwordGenerated"
                    v-on:close="closePasswordGenerator">
                </creds-gen-password>
            </label>

            <label class="form__label">Notes
                <textarea
                    class="form__textarea"
                    name="notes"
                    v-model="cred.notes"></textarea>
            </label>

            <button
                class="button"
                type="button"
                v-on:click="processEntry"
                v-bind:disabled="processDisabled">
                <span v-if="cred.id">♲ update</span>
                <span v-if="!cred.id">💫 create</span>
            </button>

            <span class="form__error">{{ updateErrorMessage }}</span>
        </fieldset>
    </form>
</script>


<script>
    Vue.component('creds-add-update-entry', {
        template: '#creds-add-update-entry-tpl',
        props: ['processingEntry', 'entry', 'updateErrorMessage'],
        mounted: function() {
            this.validate();
        },
        computed: {
            processDisabled: function() {
                return this.processingEntry || this.error.title || this.error.password;
            }
        },
        data: function() {
            return {
                showPassword: false,
                showGeneratePassword: false,
                error: {},
                cred: My.Cred.from(this.entry).values()
            };
        },
        methods: {
            nothing: function() {
                return;
            },
            processEntry: function(event) {
                if (this.cred.id) {
                    this.$emit('update-entry', this.cred.id, this.cred);
                } else {
                    delete this.cred.id;
                    this.$emit('create-entry', this.cred);
                }
            },
            validate: function(event) {
                this.error = {};

                if (!this.cred.title) {
                    this.error.title = 'required';
                }

                if (!this.cred.password) {
                    this.error.password = 'required';
                }
            },
            backToList: function() {
                this.$emit('back-to-list');
            },
            generatePassword: function(event) {
                this.showGeneratePassword = true;
            },
            passwordGenerated: function(password) {
                this.cred.password = password;
                this.closePasswordGenerator();
                this.flashPassword();
                this.validate();
            },
            closePasswordGenerator: function() {
                this.showGeneratePassword = false;
            },
            flashPassword: function() {
                var self = this;
                self.showPassword = true;

                setTimeout(function() {
                    self.showPassword = false;
                }, 1000);
            }
        }
    });
</script>
