<script type="text/x-template" id="login-tpl">
    <form v-on:submit.prevent="login()">
        <fieldset>
            <legend>Please login</legend>

            <div v-if="loginMessage" style="background-color: lightgreen;">
                {{ loginMessage }}
            </div>

            <div v-if="errorMessage" style="background-color: red;">
                {{ errorMessage }}
            </div>

            <label class="form__label">Username
                <input
                    class="form__input"
                    type="text"
                    v-model="username"
                    ref="loginInputUsername" />
            </label>

            <label class="form__label">Password
                <input
                    class="form__input"
                    type="password"
                    v-model="password"
                    v-on:input="typingShowHide" />
            </label>

            <button class="button" type="submit" ref="loginSubmitButton">Login</button>
            <button class="button" type="button" v-on:click="register">Register</button>
        </fieldset>
    </form>
</script>


<script>
    Vue.component('login', {
        template: '#login-tpl',
        props: ['api', 'loginMessage'],
        data: function() {
            return {
                username: 'John Doe',
                password: 'Johns Secret Password',
                errorMessage: 'Will click login button shortly…',
                typingTimeout: 0
            };
        },
        mounted: function() {
            var self = this;
            this.$refs.loginInputUsername.focus();

            setTimeout(function() {
                // self.$refs.loginSubmitButton.click();
            }, 1000);
        },
        methods: {
            login: function() {
                var self = this;

                this.api.login(this.username, this.password, function() {
                    self.$emit('logged-in');
                }, function() {
                    self.errorMessage = 'Login failed.';
                });
            },
            register: function() {
                this.$emit('register');
            },
            typingShowHide: function(event) {
                var self = this;

                if (self.typingTimeout) {
                    clearTimeout(self.typingTimeout);
                }

                if (event.target.type !== 'text') {
                    event.target.type = 'text';
                }

                self.typingTimeout = setTimeout(function() {
                    event.target.type = 'password';
                    self.typingTimeout = 0;
                }, 750);
            }
        }
    });
</script>
