<script type="text/x-template" id="creds-tpl">
    <div id="credscontainer">
        <creds-gen-password v-show="page === 'genPassword'">
        </creds-gen-password>

        <creds-select-list v-show="page === 'list'"
            ref="selectList"
            v-on:show-list-entry="showListEntry"
            v-on:add-entry="addEntry"
            v-on:lock="gotoLock"
            v-bind:creds="decryptedCreds"
            v-bind:highlight-entry="highlightEntry"></creds-select-list>

        <creds-decrypt v-if="page === 'decrypt'"
            v-bind:encrypted-creds="encryptedCreds"
            v-bind:encryptor="encryptor"
            v-on:creds-decrypted="credsDecrypted"></creds-decrypt>

        <creds-list-entry v-if="page === 'showEntry'"
              v-on:back-to-list="gotoList"
              v-bind:entry="selectedListEntry"
              v-on:edit-entry="editEntry"></creds-list-entry>

        <creds-add-entry v-if="page === 'add'"
            v-bind:processing-entry="processingEntry"
            v-on:create-entry="createEntry"
            v-on:back-to-list="gotoList"></creds-add-entry>

        <creds-edit-entry v-if="page === 'edit'"
            v-bind:entry="selectedListEntry"
            v-bind:processing-entry="processingEntry"
            v-on:update-entry="updateEntry"
            v-on:back-to-list="gotoList"></creds-edit-entry>

        <creds-lock v-if="page === 'lock'"
            v-on:lock="lock"
            v-on:back-to-list="gotoList"></creds-lock>
    </div>
</script>


<script>
Vue.component('creds', {
    template: '#creds-tpl',
    props: ['api', 'encryptor', 'encryptedCreds'],
    data: function() {
        return {
            page: 'genPassword',
            decryptedCreds: [],
            highlightEntry: 0,
            processingEntry: false,
            selectedListEntry: null,
        };
    },
    mounted: function() {
    },
    updated: function() {
    },
    methods: {
        lock: function(pin) {
            this.$emit('lock', pin);
        },
        gotoLock: function() {
            this.page = 'lock';
        },
        credsDecrypted: function(decryptedCreds) {
            this.decryptedCreds = decryptedCreds;
            this.gotoList();
        },
        gotoList: function() {
            this.page = 'list';
            this.$refs.selectList.scrollToSavedPosition();
        },
        addEntry: function() {
            this.page = 'add';
        },
        editEntry: function() {
            this.page = 'edit';
        },
        flashListEntry: function(entryId) {
            var self = this;
            self.highlightEntry = entryId;

            setTimeout(function() {
                self.highlightEntry = 0;
            }, 1500);
        },
        updateEntry: function(id, entry) {
            var self = this;

            self.processingEntry = true;
            var encrypted = this.encryptor.encrypt(JSON.stringify(entry));

            var successCall = function(updatedId) {
                self.processingEntry = false;
                self.gotoList();
                self.flashListEntry(updatedId);
            }

            var errorCall = function() {
                console.log('Oh nooooo....');
                self.processingEntry = false;
            }

            self.api.updateCred(id, encrypted, successCall, errorCall);
        },
        createEntry: function(entry) {
            var self = this;

            self.processingEntry = true;
            var encrypted = this.encryptor.encrypt(JSON.stringify(entry));

            var successCall = function(createdId) {
                entry.id = createdId;
                entry.selected = false;

                self.decryptedCreds.unshift(entry);
                self.processingEntry = false;

                self.gotoList();
                self.flashListEntry(createdId);
            }

            var errorCall = function() {
                console.log('Oh nooooo....');
                self.processingEntry = false;
            }

            self.api.createCred(encrypted, successCall, errorCall);
        },
        showListEntry: function(selectedListEntry) {
            if (selectedListEntry == null) {
                return;
            }

            this.selectedListEntry = selectedListEntry;
            this.page = 'showEntry';
        }
    }
})
</script>
