<script type="text/x-template" id="creds-select-list-tpl">
    <div> <!-- select list container -->
        <div class="search__container">
            <input class="search__input input--standard"
                placeholder="Search…"
                v-model="searchString"
                v-on:input="selectNothing"
                v-on:keydown.down.prevent="selectNext"
                v-on:keydown.up.prevent="selectPrev"
                v-on:keyup.enter="showListEntry(list.getCurrent())"
                tabindex="1" />

            <button class="button" type="button" v-on:click="openMenu">menu</button>
        </div>

        <div class="search__entryIndicator">
            {{ list.entries.length }} of {{ creds.length }} entries
            <span
                v-on:click="showAll"
                class="search__showAll"
                v-bind:class="{ 'search__showAll--hidden': hideShowAll }">► show all</span>
        </div>

        <ul class="list">
            <li class="list__entry"
                v-for="listEntry in list.entries"
                v-bind:key="listEntry.id"
                v-on:click="showListEntry(listEntry)"
                v-bind:class="{
                    'list__entry--selected': listEntry.selected,
                    'list__entry--highlighted': highlightEntry === listEntry.id
                }">
                {{ listEntry.title }}<br>
                {{ listEntry.url }}
            </li>
        </ul>
    </div>
</script>


<script>
Vue.component('creds-select-list', {
    template: '#creds-select-list-tpl',
    props: ['creds', 'highlightEntry'],
    data: function() {
        return {
            showMaxListEntries: 10,
            searchString: '',
            numSearchResults: 0,
            scrollPosition: null
        };
    },
    computed: {
        list: function() {
            var creds = My.CredFilter(this.creds).search(this.searchString);
            this.numSearchResults = creds.length;

            if (this.showMaxListEntries) {
                creds = creds.slice(0, this.showMaxListEntries);
            }

            return My.SelectList(creds);
        },
        hideShowAll: function() {
            if (this.showMaxListEntries == null) {
                return true;
            }

            if (this.numSearchResults <= this.showMaxListEntries) {
                return true;
            }

            return false;
        }
    },
    mounted: function() {
    },
    updated: function() {
    },
    methods: {
        openMenu: function() {
            this.saveScrollPosition();
            this.$emit('open-menu');
        },
        scrollToSavedPosition: function() {
            var self = this;

            if (self.scrollPosition === null) {
                return;
            }

            setTimeout(function() {
                window.scrollTo({ top: self.scrollPosition, behavior: 'smooth' });
            }, 50);
        },
        lock: function() {
            this.$emit('lock');
        },
        gotoBackup: function() {
            this.$emit('goto-backup');
        },
        showListEntry: function(listEntry) {
            this.saveScrollPosition();
            this.$emit('show-list-entry', listEntry)
        },
        showAll: function(event) {
            this.showMaxListEntries = null;
        },
        selectNext: function(event) {
            this.list.selectNext();
        },
        selectPrev: function(event) {
            this.list.selectPrev();
        },
        selectNothing: function(event) {
            this.list.selectNothing();
        },
        saveScrollPosition: function() {
            this.scrollPosition = window.scrollY;
        }
    }
})
</script>
