<script type="text/x-template" id="creds-add-entry-tpl">
    <form
        autocomplete="off"
        v-on:change="validate"
        v-on:submit.prevent="nothing">

        <fieldset>
            <legend>Add entry</legend>

            <label class="form__label">Title
                <span class="form__error">{{ error.title }}</span>

                <input
                    class="form__input"
                    type="text"
                    name="title"
                    autofocus="autofocus"
                    v-model="create.title"
                />
            </label>

            <label class="form__label">Url</span>
                <input
                    class="form__input"
                    type="url"
                    name="url"
                    v-model="create.url"
                />
            </label>

            <label class="form__label">Username
                <input
                    class="form__input"
                    type="text"
                    name="username"
                    v-model="create.username"
                />
            </label>

            <label class="form__label">Password
                <span class="form__error">{{ error.password }}</span>

                <span
                    class="button__generate"
                    v-on:click="generatePassword">► generate</span>

                <selfhide-password
                    class="form__input"
                    v-model="create.password"></selfhide-password>

                <creds-gen-password
                    v-if="showGeneratePassword"
                    v-on:password-generated="passwordGenerated"
                    v-on:close="closePasswordGenerator">
                </creds-gen-password>
            </label>

            <label class="form__label">Notes
                <textarea
                    class="form__textarea"
                    name="notes"
                    v-model="create.notes"></textarea>
            </label>

            <button
                class="button"
                type="button"
                v-on:click="createEntry"
                v-bind:disabled="createDisabled">create</button>

            <button
                class="button"
                type="button"
                v-on:click="backToList">cancel</button>
        </fieldset>
    </form>
</script>


<script>
    Vue.component('creds-add-entry', {
        template: '#creds-add-entry-tpl',
        props: ['processingEntry'],
        mounted: function() {
            this.validate();
        },
        computed: {
            createDisabled: function() {
                return this.processingEntry || this.error.title || this.error.password;
            }
        },
        data: function() {
            return {
                showGeneratePassword: false,
                create: {
                    title: 'Some Example Title',
                    url: 'http://www.example.com',
                    username: 'ExampleUser',
                    password: 'ExamplePass',
                    notes: 'Hi, this is an example note'
                },
                error: {},
                typingTimeout: 0
            };
        },
        methods: {
            nothing: function() {
                return;
            },
            createEntry: function(event) {
                this.$emit('create-entry', {
                    title: this.create.title,
                    url: this.create.url,
                    username: this.create.username,
                    password: this.create.password,
                    notes: this.create.notes
                });
            },
            validate: function(event) {
                this.error = {};

                if (this.create.title == '') {
                    this.error.title = 'required';
                }

                if (this.create.password == '') {
                    this.error.password = 'required';
                }
            },
            backToList: function() {
                this.$emit('back-to-list');
            },
            generatePassword: function(event) {
                this.showGeneratePassword = true;
            },
            passwordGenerated: function(password) {
                this.create.password = password;
                this.closePasswordGenerator();
                this.flashPassword();
                this.validate();
            },
            closePasswordGenerator: function() {
                this.showGeneratePassword = false;
            },
            // this does not work anymore (because of component). Fix?
            flashPassword: function() {
                var self = this;

                self.passwordInputType = 'text';
                setTimeout(function() {
                    self.passwordInputType = 'password';
                }, 1000);
            }
        }
    });
</script>
