<script type="text/x-template" id="creds-list-entry-tpl">
    <div class="entryDetail">
        <p class="entryDetail__title">
            {{ entry.title }}
        </p>

        <p class="entryDetail__url">
            <a v-bind:href="entry.url" target="_blank">{{ entry.url }}</a>
        </p>

        <p class="entryDetail__username">
            <input
                class="entryDetail__usernameInput"
                v-model="entry.username"
                readonly="readonly"
                ref="entryDetailUsername" />

            <button
                class="button"
                v-on:click="copyToClipboard($event, $refs.entryDetailUsername)">
                Copy to Clipboard
            </button>
        </p>

        <p class="entryDetail__password">
            <input
                class="entryDetail__passwordInput"
                type="password"
                v-model="entry.password"
                readonly="readonly"
                ref="entryDetailPassword" />

            <button
                class="button"
                v-on:click="copyToClipboard($event, $refs.entryDetailPassword)">
                Copy to Clipboard
            </button>
        </p>

        <p class="entryDetail__notes">
            <pre class="entryDetail__notesPreformatted">{{ entry.notes }}</pre>
        </p>

        <button class="button" v-on:click="backToList">◀︎ back</button>
        <button class="button" v-on:click="editEntry">edit</button>

        <button
            v-if="deleteInterval == 0"
            class="button"
            v-on:click="deleteEntry">delete</button>
        <button
            v-if="deleteInterval"
            class="button"
            v-on:click="cancelDelete">cancel delete | {{ secondsRemaining }}</button>
    </div>
</script>


<script>
    Vue.component('creds-list-entry', {
        template: '#creds-list-entry-tpl',
        mounted: function() {
        },
        data: function() {
            return {
                secondsRemaining: 0,
                deleteInterval: 0
            };
        },
        props: ['entry'],
        methods: {
            deleteEntry: function() {
                var self = this;

                this.resetDeleteTimer();
                this.deleteInterval = setInterval(function() {
                    self.secondsRemaining -= 1;
                    if (self.secondsRemaining > 0) {
                        return;
                    }

                    self.cancelDelete();
                    self.$emit('delete-entry', self.entry);
                }, 1000);
            },
            cancelDelete: function() {
                clearInterval(this.deleteInterval);
                this.resetDeleteTimer();
            },
            resetDeleteTimer: function() {
                this.deleteInterval = 0;
                this.secondsRemaining = 5;
            },
            copyToClipboard: function(event, inputField) {
                var originalInputType = inputField.type;

                if (inputField.type !== 'text') {
                    inputField.type = 'text';
                }

                inputField.select();
                document.execCommand('copy');

                inputField.type = originalInputType;
                event.target.focus();
            },
            backToList: function() {
                this.$emit('back-to-list');
            },
            editEntry: function() {
                this.$emit('edit-entry');
            }
        }
    });
</script>
