<script type="text/x-template" id="creds-list-entry-tpl">
    <div class="entryDetail">
        <p class="entryDetail__title">
            {{ entry.title }}
        </p>

        <p class="entryDetail__url">
            <a v-bind:href="entry.url" target="_blank">{{ entry.url }}</a>
        </p>

        <p class="entryDetail__username">
            <input
                class="entryDetail__usernameInput"
                v-model="entry.username"
                readonly="readonly"
                ref="entryDetailUsername" />

            <button
                class="button"
                v-on:click="copyToClipboard($event, $refs.entryDetailUsername)">
                📋 copy
            </button>
        </p>

        <p class="entryDetail__password">
            <input
                class="entryDetail__passwordInput"
                type="password"
                v-model="entry.password"
                readonly="readonly"
                ref="entryDetailPassword" />

            <button
                class="button"
                v-on:click="copyToClipboard($event, $refs.entryDetailPassword)">
                📋 copy
            </button>
        </p>

        <p class="entryDetail__notes">
            <pre class="entryDetail__notesPreformatted">{{ entry.notes }}</pre>
        </p>

        <button
            class="button entryDetail__button--back"
            v-on:click="backToList">◀︎ back</button>

        <button
            class="button entryDetail__button--edit"
            v-on:click="editEntry">🖋 edit</button>

        <delete-cancel-button
            class="button entryDetail__button entryDetail__button--delete"
            v-on:delete="deleteEntry"></delete-cancel-button>
    </div>
</script>


<script>
    Vue.component('creds-list-entry', {
        template: '#creds-list-entry-tpl',
        props: ['entry'],
        methods: {
            deleteEntry: function() {
                this.$emit('delete-entry', this.entry);
            },
            copyToClipboard: function(event, inputField) {
                var originalInputType = inputField.type;

                if (inputField.type !== 'text') {
                    inputField.type = 'text';
                }

                inputField.select();
                document.execCommand('copy');

                inputField.type = originalInputType;
                event.target.focus();
            },
            backToList: function() {
                this.$emit('back-to-list');
            },
            editEntry: function() {
                this.$emit('edit-entry');
            }
        }
    });
</script>
