<script type="text/x-template" id="creds-tpl">
    <div id="credscontainer">
        <creds-select-list
            v-show="page === 'list'"
            ref="selectList"
            v-on:show-list-entry="showListEntry"
            v-on:add-entry="addEntry"
            v-bind:creds="decryptedCreds"
            v-bind:highlight-entry="highlightEntry"></creds-select-list>

        <div v-if="page === 'decrypting'">
            Decrypting {{ encryptedCreds.length }} entries…
        </div>

        <div v-if="page === 'entry'">
            <creds-list-entry
                  v-on:back-to-list="gotoList"
                  v-bind:entry="selectedListEntry"
                  v-on:edit-entry="editEntry"></creds-list-entry>
        </div>

        <div v-if="page === 'add'">
            <creds-add-entry
                v-bind:processing-entry="processingEntry"
                v-on:create-entry="createEntry"
                v-on:back-to-list="gotoList"></creds-add-entry>
        </div>

        <div v-if="page === 'edit'">
            <creds-edit-entry
                v-bind:entry="selectedListEntry"
                v-bind:processing-entry="processingEntry"
                v-on:update-entry="updateEntry"
                v-on:back-to-list="gotoList"></creds-edit-entry>
        </div>
    </div>
</script>


<script>
Vue.component('creds', {
    template: '#creds-tpl',
    props: ['api', 'encryptor', 'encryptedCreds'],
    data: function() {
        return {
            page: '',
            decryptedCreds: [],
            highlightEntry: 0,
            processingEntry: false,
            selectedListEntry: null,
        };
    },
    watch: {
        encryptedCreds: function() {
            this.decryptCreds();
        },
    },
    mounted: function() {
        this.decryptCreds();
    },
    updated: function() {
    },
    methods: {
        decryptCreds: function() {
            this.page = 'decrypting';

            var self = this;
            setTimeout(function() {
                self.decryptedCreds = self.encryptor.decryptCreds(self.encryptedCreds);
                self.gotoList();
            }, 1000);
        },
        gotoList: function() {
            this.page = 'list';
            this.$refs.selectList.scrollToSavedPosition();
        },
        addEntry: function() {
            this.page = 'add';
        },
        editEntry: function() {
            this.page = 'edit';
        },
        flashListEntry: function(entryId) {
            var self = this;
            self.highlightEntry = entryId;

            setTimeout(function() {
                self.highlightEntry = 0;
            }, 1500);
        },
        updateEntry: function(id, entry) {
            var self = this;

            self.processingEntry = true;
            var encrypted = this.encryptor.encrypt(JSON.stringify(entry));

            var successCall = function(updatedId) {
                self.processingEntry = false;
                self.gotoList();
                self.flashListEntry(updatedId);
            }

            var errorCall = function() {
                console.log('Oh nooooo....');
                self.processingEntry = false;
            }

            self.api.updateCred(id, encrypted, successCall, errorCall);
        },
        createEntry: function(entry) {
            var self = this;

            self.processingEntry = true;
            var encrypted = this.encryptor.encrypt(JSON.stringify(entry));

            var successCall = function(createdId) {
                entry.id = createdId;
                entry.selected = false;

                self.decryptedCreds.unshift(entry);
                self.processingEntry = false;

                self.gotoList();
                self.flashListEntry(createdId);
            }

            var errorCall = function() {
                console.log('Oh nooooo....');
                self.processingEntry = false;
            }

            self.api.createCred(encrypted, successCall, errorCall);
        },
        showListEntry: function(selectedListEntry) {
            if (selectedListEntry == null) {
                return;
            }

            this.selectedListEntry = selectedListEntry;
            this.page = 'entry';
        }
    }
})
</script>
