<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creds UI">
    <title>Creds UI</title>

    <!-- <link rel="stylesheet" href="css/pure-min.css"> -->
    <link rel="stylesheet" href="css/custom.css">
    <script src="js/vue.js"></script>
</head>
<body>
  <div id="app">
      <div v-if="page === 'login'">
          <form v-on:submit.prevent="login()">
              <fieldset>
                  <legend>Please login</legend>

                  <label class="form__label">Username
                      <input
                          class="form__input"
                          type="text"
                          name="username"
                          placeholder="Username…"
                          value="foo"
                          ref="loginInputUsername" />
                  </label>

                  <label class="form__label">Password
                      <input class="form__input" type="password" value="bar" />
                  </label>

                  <button class="button" type="submit">Login</button>
              </fieldset>
          </form>
      </div>

      <div v-show="page === 'list'">
          <select-list
                v-on:show-list-entry="showListEntry"
                v-on:add-entry="addEntry"></select-list>
      </div>

      <div v-if="page === 'entry'">
          This is the list entry
          {{ selectedListEntry.id }}: {{ selectedListEntry.title }}
          <button class="button" v-on:click="backToList()">back</button>
      </div>

      <div v-if="page === 'add'">
        <form>
            <fieldset>
                <legend>Add entry</legend>

                <label class="form__label">Username
                    <input class="form__input" type="text" name="username" v-model="create.username" />
                </label>

                <label class="form__label">Password
                    <input class="form__input" type="password" name="password" v-model="create.password" />
                </label>

                <label class="form__label">Repeat password
                    <input class="form__input" type="password" name="password_repeat" v-model="create.passwordRepeat" />
                </label>

                <label class="form__label">Notes
                    <textarea class="form__textarea" name="notes" v-model="create.notes"></textarea>
                </label>

                <button class="button" type="button" v-on:click.prevent="createEntry()">create</button>
                <button class="button" type="button" v-on:click.prevent="backToList()">cancel</button>
            </fieldset>
        </form>
      </div>

      <div v-if="page !== 'login'" class="logout">
          <button class="button" v-on:click="logout()">logout</button>
      </div>
  </div>

  <script src="js/my.js"></script>
  <script src="js/my.selectlist.js"></script>

    <script type="text/x-template" id="select-list-tpl">
        <div>
            <label class="search__label">Search
                <input class="search__input"
                    v-on:keydown.down.prevent="selectNext"
                    v-on:keydown.up.prevent="selectPrev"
                    v-on:keyup.enter="$emit('show-list-entry', list.getCurrent())"
                    tabindex="1" />
            </label>

          <ul class="list">
              <li class="list__entry"
                  v-for="listEntry in list.entries"
                  v-bind:key="listEntry.id"
                  v-on:click="$emit('show-list-entry', listEntry)">
                  <span class="list__indicator"
                        v-bind:class="{ 'list__indicator--visible': listEntry.selected }">
                      ►
                  </span>{{ listEntry.title }}
              </li>
          </ul>

          <button class="button" v-on:click="$emit('add-entry')">add</button>
      </div>
    </script>

    <script>
    Vue.component('select-list', {
        template: '#select-list-tpl',
        data: function() {
            return {
                list: My.SelectList([
                    { id: 1, title: '500 pieces of paper', selected: false},
                    { id: 2, title: 'One pair of scissors', selected: false},
                    { id: 3, title: 'A bottle of beer', selected: false},
                    { id: 4, title: 'Some kind of well-designed notebook', selected: false},
                    { id: 5, title: 'A handful of beautiful trees', selected: false}
                ])
            };
        },
        mounted: function() {
            /// …
        },
        methods: {
            selectNext: function(event) {
                this.list.selectNext();
            },
            selectPrev: function(event) {
                this.list.selectPrev();
            }
        }
    })
    </script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                page: 'list',
                selectedListEntry: null,
                create: {
                    username: 'ExampleUser',
                    password: 'ExamplePass',
                    passwordRepeat: 'ExamplePassRepeat',
                    notes: 'Hi, this is an example note'
                }
            },
            mounted: function () {
                if (this.page === 'login') {
                    this.$refs.loginInputUsername.focus();
                }
            },
            methods: {
                login: function() {
                    this.page = 'list';
                },
                logout: function() {
                    this.page = 'login';
                },
                addEntry: function() {
                  this.page = 'add';
                },
                createEntry: function() {
                    console.log(
                        'Creating an entry...',
                        this.create.username,
                        this.create.password,
                        this.create.passwordRepeat,
                        this.create.notes
                    );
                },
                showListEntry: function(selectedListEntry) {
                    this.selectedListEntry = selectedListEntry;
                    this.page = 'entry';
                },
                backToList: function() {
                    this.page = 'list';
                }
            }
        })
    </script>
</body>
</html>
