<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creds UI">
    <title>Creds UI</title>

    <link rel="stylesheet" href="css/custom.css">
    <script src="parts/vue.js"></script>
</head>

<body>
    <div id="app">
        <div v-if="page === 'login'">
    <login v-on:login="gotoList"></login>
</div>

<div v-show="page === 'list'">
    <select-list
          v-on:show-list-entry="showListEntry"
          v-on:add-entry="addEntry"></select-list>
</div>

<div v-if="page === 'entry'">
    <list-entry
          v-on:back-to-list="gotoList"
          v-bind:entry="selectedListEntry"></list-entry>
</div>

<div v-if="page === 'add'">
    <add-entry
          v-on:create-entry="createEntry"
          v-on:back-to-list="gotoList"></add-entry>
</div>

<div v-if="page !== 'login'" class="logout">
    <button class="button" v-on:click="logout()">logout</button>
</div>

    </div>

<script>
    var My = {};    
</script>

<script>
    My.SelectList = function(entries) {
        var listEntries = entries;
        var idMap = [];
        var first = 0;
        var last = listEntries.length - 1;
        var current = 0;

        var isEmpty = function() {
            return listEntries.length === 0
        };

        var unselectCurrent = function() {
            if (isEmpty()) {
                return;
            }

            listEntries[current].selected = false;
        };

        var selectCurrent = function() {
            if (isEmpty()) {
                return;
            }

            listEntries[current].selected = true
        };

        var selectIndex = function(index) {
            if (isEmpty()) {
                return;
            }

            unselectCurrent();
            current = index;
            selectCurrent();
        };

        var selectNext = function() {
            if (isEmpty()) {
                return;
            }

            if (current === last) {
                selectIndex(first);
                return;
            }

            selectIndex(current + 1);
        };

        var selectPrev = function() {
            if (isEmpty()) {
                return;
            }

            if (current === first) {
                selectIndex(last);
                return;
            }

            selectIndex(current - 1);
        };

        var getCurrent = function() {
            return listEntries[current];
        };

        var find = function(id) {
            if (isEmpty()) {
                return null;
            }

            return idMap[id];
        }

        var initIdMap = function() {
            for (var i = first; i <= last; i++) {
                listEntries[i].selected = false;
                idMap[listEntries[i].id] = listEntries[i];
            }
        }

        initIdMap();
        selectCurrent();

        return {
            entries: listEntries,
            getCurrent: getCurrent,
            selectNext: selectNext,
            selectPrev: selectPrev,
            find: find
        };
    };    
</script>


<script type="text/x-template" id="login-tpl">
    <form v-on:submit.prevent="login()">
        <fieldset>
            <legend>Please login</legend>

            <label class="form__label">Username
                <input
                    class="form__input"
                    type="text"
                    name="username"
                    value="foo"
                    ref="loginInputUsername" />
            </label>

            <label class="form__label">Password
                <input class="form__input" type="password" value="bar" />
            </label>

            <button class="button" type="submit">Login</button>
        </fieldset>
    </form>
</script>


<script>
    Vue.component('login', {
        template: '#login-tpl',
        mounted: function() {
            this.$refs.loginInputUsername.focus();
        },
        methods: {
            login: function() {
                console.log('Logging in…');
                this.$emit('login');
            }
        }
    });
</script>

<script type="text/x-template" id="select-list-tpl">
    <div>
        <div class="search__container">
            <input class="search__input input--standard"
                placeholder="Search…"
                v-on:keydown.down.prevent="selectNext"
                v-on:keydown.up.prevent="selectPrev"
                v-on:keyup.enter="$emit('show-list-entry', list.getCurrent())"
                tabindex="1" />
        </div>

        <ul class="list">
            <li class="list__entry"
                v-for="listEntry in list.entries"
                v-bind:key="listEntry.id"
                v-on:click="$emit('show-list-entry', listEntry)">
                <span class="list__indicator"
                    v-bind:class="{ 'list__indicator--visible': listEntry.selected }">
                  ►
                </span>{{ listEntry.title }}
            </li>
        </ul>

        <button class="button" v-on:click="$emit('add-entry')">add</button>
    </div>
</script>


<script>
Vue.component('select-list', {
    template: '#select-list-tpl',
    data: function() {
        return {
            list: My.SelectList([
                {
                    id: 1,
                    title: '500 pieces of paper',
                    url: 'http://pieces.example.com',
                    username: 'john',
                    password: 'Super Secret 123',
                    notes: 'Always use A4 for printing'
                },
                {
                    id: 2,
                    title: 'One pair of scissors',
                    url: 'http://scissors.example.org',
                    username: 'jane',
                    password: 'You will not guess it',
                    notes: 'For right handed only'
                },
                {
                    id: 3,
                    title: 'A bottle of beer',
                    url: 'bottle.example.com',
                    username: 'jeff',
                    password: 'Jeff Rocks 987',
                    notes: 'Drink responsibly'
                },
                {
                    id: 4,
                    title: 'Some kind of well-designed notebook',
                    url: 'notebook.example.com',
                    username: 'joffrey',
                    password: 'no remorse',
                    notes: 'Paper is still the easiest'
                },
                {
                    id: 5,
                    title: 'A handful of beautiful trees',
                    url: 'tree.example.com',
                    username: 'jungle',
                    password: 'plant some trees 123',
                    notes: 'Go out for a walk from time to time'
                }
            ])
        };
    },
    mounted: function() {
        /// …
    },
    methods: {
        selectNext: function(event) {
            this.list.selectNext();
        },
        selectPrev: function(event) {
            this.list.selectPrev();
        }
    }
})
</script>

<script type="text/x-template" id="add-entry-tpl">
    <form>
        <fieldset>
            <legend>Add entry</legend>

            <label class="form__label">Title
                <input class="form__input" type="text" name="title" v-model="create.title" />
            </label>

            <label class="form__label">Url
                <input class="form__input" type="text" name="url" v-model="create.url" />
            </label>

            <label class="form__label">Username
                <input class="form__input" type="text" name="username" v-model="create.username" />
            </label>

            <label class="form__label">Password
                <input class="form__input" type="password" name="password" v-model="create.password" />
            </label>

            <label class="form__label">Repeat password
                <input class="form__input" type="password" name="password_repeat" v-model="create.passwordRepeat" />
            </label>

            <label class="form__label">Notes
                <textarea class="form__textarea" name="notes" v-model="create.notes"></textarea>
            </label>

            <button class="button" type="button" v-on:click.prevent="createEntry()">create</button>
            <button class="button" type="button" v-on:click.prevent="backToList()">cancel</button>
        </fieldset>
    </form>
</script>


<script>
    Vue.component('add-entry', {
        template: '#add-entry-tpl',
        mounted: function() {
            // …
        },
        data: function() {
            return {
                create: {
                    title: 'Some Example Title',
                    url: 'http://www.example.com',
                    username: 'ExampleUser',
                    password: 'ExamplePass',
                    passwordRepeat: 'ExamplePassRepeat',
                    notes: 'Hi, this is an example note'
                }
            };
        },
        methods: {
            createEntry: function() {
                this.$emit('create-entry', this.create);
            },
            backToList: function() {
                this.$emit('back-to-list');
            }
        }
    });
</script>

<script type="text/x-template" id="list-entry-tpl">
    <div>
        {{ entry.id }}<br>
        {{ entry.title }}<br>
        {{ entry.url }}<br>
        {{ entry.username }}<br>
        {{ entry.password }}<br>
        {{ entry.notes }}<br>
        <button class="button" v-on:click="backToList">back</button>
    </div>
</script>


<script>
    Vue.component('list-entry', {
        template: '#list-entry-tpl',
        mounted: function() {
        },
        data: function() {
            return {};
        },
        props: ['entry'],
        methods: {
            backToList: function() {
                this.$emit('back-to-list');
            }
        }
    });
</script>


<script>
    var app = new Vue({
        el: '#app',
        data: {
            page: 'list',
            selectedListEntry: null,
        },
        mounted: function () {
        },
        methods: {
            gotoList: function() {
                this.page = 'list';
            },
            logout: function() {
                this.page = 'login';
            },
            addEntry: function() {
              this.page = 'add';
            },
            createEntry: function(entry) {
                console.log(
                    'Creating an entry...',
                    entry.title,
                    entry.url,
                    entry.username,
                    entry.password,
                    entry.passwordRepeat,
                    entry.notes
                );
            },
            showListEntry: function(selectedListEntry) {
                this.selectedListEntry = selectedListEntry;
                this.page = 'entry';
            }
        }
    })
</script>

</body>
</html>
